@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply mx-1 inline-block;
  }

  input:not([type="submit"]) {
    @apply rounded-lg outline-1 outline-offset-2 outline-slate-200;
  }
}

:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  min-height: 100dvh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}